.App{
    text-align: center;
}
button{
    padding: 10px;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}

div.menuBar{
    margin:auto;
    width: 70%;
}
a{
    text-decoration: none;
    color: #03454c;
}
li{
    list-style: none;
    font-size: 18px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}
ul{
    display: flex;
    justify-content: space-around;
}
.homeSection, .aboutSection, .contactSection{
    text-align: center;
    font-size: 22px;
}